<%= include('includes/top.tmpl') %>
	<div style="display: none;">
		<%= include('includes/svgstore.svg') %>
	</div>
    <div class="main">
        <%= include('introMessages.tmpl') %>
    	<%= include('whoForHolder.tmpl') %>
	   	<%= include('postcodeFinderHolder.tmpl') %>
    	<%= include('weeklyCostsResults.tmpl') %>
    	<%= include('meansTestQuestionsHolder.tmpl') %>
        <%= include('northernIreland.tmpl') %>
        <%= include('wales.tmpl') %>
        <%= include('scotland.tmpl') %>
        <%= include('results.tmpl') %>
    </div>

<%= include('resultsChart.tmpl') %>
<%= include('includes/bottom.tmpl') %>