<div class="progress-box progressBoxTopAnim">
	<h4 class="progress-box--top">More information</h4>
	<div class="progress-titles">
		<p class="progress-titles--title">Intro</p>
		<p class="progress-titles--title">Property</p>	
		<p class="progress-titles--title">Assets</p>	
		<p class="progress-titles--title">Earnings</p>	
		<p class="progress-titles--title">Results</p>	
	</div>
	<div class="bar-holder">
		<div class="bar-seperator">
			<div class="bar-seperator--sub bar-seperator--sub__2"></div>
			<div class="bar-seperator--sub bar-seperator--sub__2"></div>
		</div>
		<div class="bar-seperator">
			<div class="bar-seperator--sub bar-seperator--sub__4"></div>
			<div class="bar-seperator--sub bar-seperator--sub__4"></div>
			<div class="bar-seperator--sub bar-seperator--sub__4"></div>
			<div class="bar-seperator--sub bar-seperator--sub__4"></div>
		</div>
		<div class="bar-seperator">
			<div class="bar-seperator--sub bar-seperator--sub__2"></div>
			<div class="bar-seperator--sub bar-seperator--sub__2"></div>
		</div>
		<div class="bar-seperator">
			<div class="bar-seperator--sub bar-seperator--sub__1"></div>
		</div>
	</div>
	<div class="progress-box--info">
		<h4 class="progress-box--info__header">Help with Question 1</h4>
		<p class="progress-box--info__text">The value of your house is taken into account when assessing how much you will contribute to your care costs</p>
	</div>
</div>