<div class="nation nation__ni">
	<h3 class="nation--header">In Northern Ireland...</h3>
	<p class="nation--p">
		There is a drive for more people, aged 65 and over, to be provided with care in their own homes. Most home care services are provided free. Health and social care have been intergrated into five health and social care trusts. They will assess what help you need.
	</p>

	<h3 class="nation--header">What help can you get from <span data-dynamic-text="name"></span>? </h3>
	<p class="nation--p">
		<strong>To be eligible for support</strong> you will first have been assessed as having at least a <strong>high or substantial level of need</strong>. 
	</p>

	<!-- CARE AT HOME -->
	<h3 class="nation--header">Care at home</h3>
	<p class="nation--p" >
		From the age of <strong>75</strong>, people are entitled to free care at home, although in practice most home care is provided free for anyone who is <strong>65 and over.</strong>  Charges are at the discretion of the local trust. 
	</p>
	
	<p id="ni-home-care-hours" class="nation--p">
		On average, over 65s in <strong data-dynamic-text="shortName"></strong> receive <strong data-dynamic-text="hcHours"></strong> of home care per week, to the nearest quarter hour. 
	</p>
	<!-- Alternative Text -->
	<p class="nation--p nation--p__alt ni-home-care-hours_alt">
		Data for the number of hours of home care per person per week is not available.
	</p>

	<p id="ni-home-care-rate" class="nation--p">
		<span class="hcHourCostAverageRange" alt-text="Payments for home care range from ">The average home care rate paid by the trust is </span><strong data-dynamic-text="hcHourCost_14_15"></strong> an hour. 
	</p>
	<!-- Alternative Text -->
	<p class="nation--p nation--p__alt ni-home-care-rate_alt">
		Data for the cost per hour for home care is not available for 2014-15.
	</p>

	<p id="ni-avg-home-care-cost" class="nation--p">
		The council spends an average of <strong data-dynamic-text="hcWeeklyCost"></strong> a week per person on home care.
	</p>
	<!-- Alternative Text -->
	<p class="nation--p nation--p__alt ni-avg-home-care-cost_alt">
		Data for the average cost of home care per person per week is not available. 
	</p>


	<!-- RESIDENTIAL CARE -->
	<h3 class="nation--header">Who pays for residential care and nursing care?</h3>
	<div class="cost-breakdown columns">
		<div class="columns__3-column">
			<span class="text-small">If you have more than </span>
			<span class="highlight-text-medium">£23,250</span>
			<span class="text-small column--text-wrap">in assets you will pay for all of your care. Your partner’s assets may also be taken into account.</span>
		</div>
		<div class="columns__3-column columns__3-column__border">
			<span class="text-small">If you have assets of between</span>
			<span class="highlight-text-medium">£14,250</span>			
			<span class="text-small">and</span>
			<span class="highlight-text-medium">£23,250</span>
			<span class="text-small">you may get some financial help.</span>
		</div>
		<div class="columns__3-column">
			<span class="text-small">If your assets are under </span>
			<span class="highlight-text-medium">£14,250</span>
			<span class="text-small column--text-wrap">your care will be paid for, but you may have to contribute from your income. </span>
		</div>
	</div>
	<p class="residential-explainer">The value of your home, once any debts such as a mortgage are paid, will be taken into account. That is unless a close relative or person with a disability lives there.</p>

	<h3 class="nation--header">Residential care</h3>
	<p id="ni-residential-rate" class="nation--p">
		<strong data-dynamic-text="residential"></strong> weekly average fee paid by <strong data-dynamic-text="shortName"></strong>. 
	</p>
	<!-- Alternative Text -->
	<p class="nation--p nation--p__alt residential-rate_alt">
		Data for the average rate paid for residential care, per person per week is not available.
	</p>
	<p class="nation--p">
		<strong>£492*</strong> weekly average charge in independent residential homes in Northern Ireland.	
	</p>
	<p class="nation--p">
		If a care home charges more than the rate set by the Trust, then a family member or third party will have to agree to pay the extra money, often called a top-up fee.
	</p>

	<!-- Nursing Text -->
	<h3 class="nation--header">Residential care with nursing care</h3>
	<p id="ni-nursing-rate" class="nation--p">
		<strong data-dynamic-text="nursing"></strong> weekly average fee paid by <strong data-dynamic-text="shortName"></strong>.
	</p>
	<!-- Alternative Text -->
	<p class="nation--p nation--p__alt ni-nursing-rate_alt">
		Data for the average rate paid for nursing care in a residential home, per person, per week is not available.
	</p>

	<p class="nation--p">
		<strong>£643.00*</strong> weekly average charge in independent residential homes for nursing care in Northern Ireland. 
	</p>
	<p class="nation--p">
		If you are assessed as needing nursing care, the NHS will contribute <strong>£100</strong> a week towards your care.
	</p>


	<h3 class="nation--header">Notes</h3>
	<p class="nation--p">
		Information for 2013-14, except for average hourly rate for home care which is for 2014-15. 
	</p>
	<p class="nation--p">
		*Source: <a href="http://www.laingbuisson.co.uk/" target="_top">LaingBuisson</a>
	</p>

	<h3 class="nation--header__links">
		Related Internet Links
	</h3>
	<ul class="nation-links">
		<li><a href="http://www.hscni.net/" target="_top">Health and Social Care Northern Ireland</a></li>
		<li><a href="http://www.bbc.co.uk/news/uk-28216730" target="_top">Regulation and Quality Improvement Authority</a></li>
		<li><a href="http://www.ageuk.org.uk/northern-ireland/" target="_top">Age Northern Ireland</a></li>
		<li><a href="http://www.alzheimers.org.uk/" target="_top">Alzheimer’s Society</a></li>
		<li><a href="http://www.independentage.org/" target="_top">Independent Age</a></li>
		<li><a href="http://www.contact-the-elderly.org.uk/" target="_top">Contact the Elderly</a></li>
	</ul>
</div>