<div class="postcodeFinderHolder faddedElement">
	<div class="postcodeFormHolder">
		<h4><%= postcode %></h4>
		<form class="postcodeFormEl" id="postcodeForm">
			<input class="postcodeFormInputEl" type="text" id="postcodeInput" />
			<button class="postcodeFormSubmitBtnEl" type="submit">Submit</button>
		</form>
		<div class="postcodeErrorHolder hidePostcodeError"><p><%= postcode_error %></p></div>
	</div>
</div>
