<script type="text/html" id="chart_tmpl">
	<span class="chart--first-text">
		<~%=firstText%~><br/>
		<span class="chart--amount-text"><~%=firstAmount%~></span>
	</span>	
	<div class="chart--arrow chart--arrow__first"></div>
	<svg class="chart--svg"></svg>
	<div class="chart--svg--alternative"><span>TOTAL</span><span class="svg--alternative--total">&pound;25,000</span></div>
	<span class="chart-desc"><~%=chartDesc%~></span>
	<div class="chart--arrow chart--arrow__last"></div>
	<span class="chart--last-text">
		<~%=lastText%~><br/>
		<span class="chart--amount-text"><~%=lastAmount%~></span>
	</span>		
</script>