<div class="nation nation__scotland">
	<h3 class="nation--header">In Scotland...</h3>
	<p class="nation--p">
		In Scotland, anyone who is 65 or over is entitled to free personal care if they are assessed as needing help. That can include support to wash, dress and prepare meals. Anyone who needs care that requires a qualified nurse will also have that provided free by the NHS. 
	</p>

	<h3 class="nation--header">What help can you get from <strong data-dynamic-text="name"></strong>? </h3>
	<p class="nation--p">
		If you are assessed by the council as having <strong data-dynamic-text="eligibility"></strong> needs you should be eligible for help.
	</p>

	<!-- CARE AT HOME -->
	<h3 class="nation--header">Care at home</h3>
	<p class="nation--p nation--p__large">Personal care is free</p>
	<p class="nation--p"> You may still be charged for some services, such as help with housework, laundry, shopping and the cost of supplying food.</p>
	<p id="scot-home-care-hours" class="nation--p" >
		On average, those eligible in <strong data-dynamic-text="shortName"></strong> receive <strong data-dynamic-text="hcHours"></strong> of home care per week, to the nearest quarter hour.
	</p>
	<!-- Alternative Text -->
	<p class="nation--p nation--p__alt scot-home-care-hours_alt">
		Data for the number of hours of home care per person per week is not available.
	</p>
	
	<p id="scot-home-care-rate" class="nation--p">
		<span class="hcHourCostAverageRange" alt-text="Payments for home care range from ">The average home care rate paid by the council is </span><strong data-dynamic-text="hcHourCost_14_15"></strong> an hour. 
	</p>
	<!-- Alternative Text -->
	<p class="nation--p nation--p__alt scot-home-care-rate_alt">
		Data for the cost per hour for home care is not available for 2014-15.
	</p>

	<p id="scot-avg-home-care-cost" class="nation--p">
		The council spends an average of <strong data-dynamic-text="hcWeeklyCost"></strong> a week per person on home care.
	</p>
	<!-- Alternative Text -->
	<p class="nation--p nation--p__alt scot-avg-home-care-cost_alt">
		Data for the average cost of home care per person per week is not available. 
	</p>

	<p class="nation--p">
		Money is paid direct to the care provider or direct to the person if they manage their own budget.  
	</p>

	<!-- RESIDENTIAL CARE -->
	<h3 class="nation--header">Who pays for residential care and nursing care?</h3>
	<div class="cost-breakdown columns">
		<div class="columns__3-column">
			<span class="text-small">If you have assets above</span>
			<span class="highlight-text-medium">£26,000</span>
			<span class="text-small column--text-wrap">you will pay all your accommodation costs.</span>
		</div>
		<div class="columns__3-column columns__3-column__border">
			<span class="text-small">If you have assets of between</span>
			<span class="highlight-text-medium">£16,000</span>			
			<span class="text-small">and</span>
			<span class="highlight-text-medium">£26,000</span>
			<span class="text-small">you will get some help.</span>
		</div>
		<div class="columns__3-column">
			<span class="text-small">If you have less than </span>
			<span class="highlight-text-medium">£16,000</span>
			<span class="text-small column--text-wrap">you will be funded by the council, but will still have to contribute from your income. </span>
		</div>
	</div>
	<p class="residential-explainer">The value of your home, once any debts such as a mortgage are paid, will be taken into account. That is unless a close relative or person with a disability lives there.</p>


	<h3 class="nation--header">Residential care</h3>
	<p id="scot-residential-rate" class="nation--p">
		<strong data-dynamic-text="residential"></strong> average weekly rate paid by <strong data-dynamic-text="shortName"></strong> for residential care. 
	</p>
	<!-- Alternative Text -->
	<p class="nation--p nation--p__alt scot-residential-rate_alt">
		Data for the average rate paid for residential care, per person per week is not available.
	</p>


	<p class="nation--p">
		<strong>£510*</strong> average weekly charge for independent sector residential care in Scotland.
	</p>
	<p class="nation--p">
		If you are assessed as needing help, the council will pay <strong>£169</strong> a week for personal care direct to the care home. You may still have to pay towards your accommodation, which makes up the remainder of the cost.
	</p>

	<h3 class="nation--header">Residential care with nursing care</h3>
	<p id="scot-nursing-rate" class="nation--p">
		<strong data-dynamic-text="nursing"></strong> average weekly rate paid by <strong data-dynamic-text="shortName"></strong> for residential care with nursing. <span data-dynamic-text="nursingNotes" data-not-needed="true"></span>
	</p>
	<!-- Alternative Text -->
	<p class="nation--p nation--p__alt scot-nursing-rate_alt">
		Data for the average rate paid for nursing care in a residential home, per person, per week is not available.
	</p>

	<p class="nation--p">
		<strong>£699*</strong> average weekly charge for independent sector residential care with nursing care in Scotland.
	</p>
	<p class="nation--p">
		If you are assessed as needing help, your personal and nursing care will be paid for by the council. <span data-dynamic-text="name"></span> will pay <strong>£169</strong> a week for personal care and <strong>£77</strong> a week for nursing care direct to the care home. 
	</p>
	<p class="nation--p">
		You may still have to pay towards your accommodation, which makes up the remainder of the cost. 
	</p>

	<h3 class="nation--header">Notes</h3>
	<p class="nation--p">
		If the care home charges more than the council rate, you will be responsible for any extra costs, also known as top-up fees. 
	</p>
	<p class="nation--p">
		Information for 2013-14, except for average hourly rate for home care which is for 2014-15.
	</p>
	<p class="nation--p">
		*Source: <a href="http://www.laingbuisson.co.uk/" target="_top">LaingBuisson</a>
	</p>

	<h3 class="nation--header__links">
		Related Internet Links
	</h3>
	<ul class="nation-links">
		<li><a href="http://www.careinfoscotland.co.uk/home.aspx" target="_top">Care Information Scotland</a></li>
		<li><a href="http://www.careinspectorate.com/" target="_top">Care Inspectorate, Scotland</a></li>
		<li><a href="http://www.ageuk.org.uk/scotland/" target="_top">Age Scotland</a></li>
		<li><a href="http://www.alzscot.org/" target="_top">Alzheimer’s Scotland</a></li>
		<li><a href="http://www.contact-the-elderly.org.uk/" target="_top">Contact the Elderly</a></li>
		<li><a href="http://www.independentage.org/" target="_top">Independent Age</a></li>
	</ul>

</div>