<div class="whoForHolder">
	<h4><%= two_choices %></h4>
	<div class="questionsBtnsHolder">
	    <button tabindex="0" class="questionsBtnsHolder--btn" data-who="self">Yourself</button>
	    <button class="questionsBtnsHolder--btn" data-who="someone-else"><%= choice_1 %></button>
	</div>
</div>