/* use proper box model - see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}