.result-page{
	display: none;
	
	.result-page--header{
		font: bold 24px Arial;
	}

	.result-page--back-button{
		display: inline-block;
		outline: 0;
		border: 0;
		padding: 13px 18px;
		color: $mainFontColor;
		background-color: $btnBackBgColor;
		font: bold 16px Arial;
		cursor: pointer;
		margin-left: 8px;
	}
	.result-page--back-button:hover{
		padding: 13px 18px;
		color: #FFF;
		background-color: $btnHoverBgColor;
	}
	.result-page--back-button::before{
		content: '< ';
	}

	.result-total{
		text-align: center;
		font: bold 24px Arial;
		line-height: 35px;
		color: $mainFontColor;
		margin: 25px 0;

		.result-total--amount{
			font: bold 56px Arial;
			line-height: 70px;
			color: $tealColor;
		}

		.result-total--timeline{
			font-weight: normal;

			.result-total--timeline__years, .result-total--timeline__months{
				color: $tealColor;
				font-weight: bold;
			}
		}

		.result-total--timeline-desc{
			display: inline-block;
			font: normal 18px Arial;
			padding: 0 60px;
		}


		.result-total--summary{
			display: inline-block;
			width: 90%;
			font: normal 18px Arial;
			color: $mainFontColor;
			line-height: 26px;

			.result-total--summary__total{
				color: $tealColor;
				font-weight: bold;
			}
		}

		.care-bill--head{
			margin-top: 45px;
			display: block;
			text-align: center;
			font: bold 18px Arial;
		}
		.care-bill--amount{
			margin-top: 5px;
			display: block;
			text-align: center;
			font: bold 32px Arial;
			color: #319593;
		}
		.care-bill--desc{
			display: block;
			text-align: center;
			font: 18px Arial;
			max-width: 345px;
			margin: 30px auto 8px auto;
		}

		.care-bill--desc-italic{
			font-style: italic;
			font-size: 16px;
		}

	}


	.results-chart{
		display: none;
		margin: 0 auto;
		text-align: center;

		.results-chart--title{
			display: inline-block;
			font: normal 18px Arial;
			padding: 0 60px;
		}

		.results-chart--title__big{
			display: block;
			font: bold 23px Arial;
			margin: 0 40px;
		}

		.results-chart--chart{
			margin: 20px auto;
			width: 260px;

			.chart--first-text, .chart--last-text{
				display: block;
				font: normal 20px Arial;

				.chart--amount-text{
					font: bold 30px Arial;
					line-height: 40px;
				}
			}

			.chart-desc{
				margin-top: 5px;
				display: inline-block;
				font: 16px Arial;
			}

			.chart--arrow{
				margin: 5px auto;
				background: url('../img/arrow.png');
				width: 11px;
				height: 38px;
			}

			.chart--arrow__last{
				@include rotate(180);
				-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";/*for ie8*/
			}

			.chart--svg{
				margin: 0 auto;
				width: 152px;
				display: none;

				.results-chart--total{
				    font: normal 18px Arial;
				    display: inline-block;
				    width: 120px;
				    text-align: center;
				    color: #404040;
				    text-transform: uppercase;
				}

				.results-chart--amount{
				    margin-top: 2px;
				    font: bold 18px Arial;
				    display: inline-block;
				    width: 120px;
				    text-align: center;
				    color: #404040;
				}
			}
			.chart--svg--alternative{
				display: none;
				height: 152px;
				margin: 0 auto;
				padding-top: 39px;
				width: 152px;

				span{
				    color: #404040;
				    display: block;
				    font-size: 1.1em;
				}
			}

		}
	}

	hr{
		display: block; height: 1px;
		border: 0; border-top: 1px solid #ededed;
		margin: 35px 0; padding: 0;
	}

	.result-breakdown{
		font: bold 28px Arial;
		text-align: center;

		.results-icon {
			width: 50px;
			float: left;
			margin-left: 5px;
			height: 48px;
		}

		.breakdown-calc{
			margin-top: 28px;
			overflow: hidden;
			display: inline-block;

			.breakdown-calc--sum{
				overflow: hidden;

				.breakdown-calc--item{
					text-align: left;
					display: block;
					float: left;
					clear: both;
					width: 285px;

					.calc-item--title{
						display: block;
						font: normal 16px Arial;
						text-transform: uppercase;
						padding-bottom: 5px;
					}

					.calc-item--sum{
						display: inline-block;
						font: bold 28px Arial;
						margin-top: 10px;
						.calc-item--eqauls{
							color: #404040;
							padding: 0 20px;
						}

						small{
							font: normal 18px Arial;
							color: #404040;
						}
					}

					.calc-item--sum__living{
						color: #300d20;
					}

					.calc-item--sum__care{
						color: #9a4b71;
					}
				}

				.breakdown-calc--plus{
					display: block;
					clear: both;
				}
			}

			.breakdown-calc--total{
				display: block;
				margin-top: 20px;
				clear: both;
				text-align: center;
				font: bold 28px Arial;
				border-top: 1px solid #646464;
				border-bottom: 1px solid #646464;
				padding: 14px;
				color: #9a4b71;

				small{
					font: normal 18px Arial;
					color: #404040;
				}
			}

		}

		.breakdown-desc{
			margin: 30px auto 50px auto;
			max-width: 605px;
			overflow: hidden;

			.breakdown-desc--text{
				display: block;
				text-align: left;
				font: normal 18px Arial;
				clear: both;
			}

			.breakdown-desc--col{
				width: 100%;
				max-width: 250px;
				margin: 20px auto;
				text-align: center;
				font: normal 18px Arial;
				
				.breakdown-desc__amount{
					font: bold 32px Arial;
					color: #9a4b71;

					small{
						font: normal 18px Arial;
						color: #404040;
					}
				}
			}



		}
	}


	.cap--header{
		text-align: center;
		margin-top: 2em;
		font: bold 24px Arial;
		color: $mainFontColor;
		max-width: 600px;
		margin: 2em auto 0 auto;
	}

	.cap--p{
		margin: 1em auto 2em auto;
		max-width: 600px;
		font: normal 18px Arial;
		color: $mainFontColor;
		text-align: left;

		strong{
			color: #007f7f;
		}
	}	

	.more-details{
		display: none;
		padding: 0;
		background-color: #f2f9f8;
		text-align: center;
		color: $mainFontColor;
		margin: 8px;

		.more-details--wrapper{
			padding: 1px 15px;
			max-width: 600px;
			margin: 0 auto;

			.more-details--header{
				margin-top: 2em;
				font: bold 24px Arial;
				color: $mainFontColor;
			}

			.more-details--p{
				font: normal 18px Arial;
				color: $mainFontColor;
				margin: 1em 0;

				strong{
					color: #007f7f;
				}

				a {
					font-weight: bold;
					color: #1f4f82;
					text-decoration: none;
				}

				a:hover {
					text-decoration: underline;
				}
			}			
		}

		.compare{
			width: 100%;
			padding: 5px 20px;
			background-color: #d5e0de;
			.compare--inner{
				.compare-icon{
					display: block;
					margin: 5px auto;
					width: 42px;	
					height: 39px;			
				}

				.compare--header{
					display: block;
					font: bold 18px Arial;
					color: $mainFontColor;
					text-align: center;
					margin: 5px 0;
				}
				.compare--desc{
					display: block;
					font: normal 18px Arial;
					color: $mainFontColor;
					text-align: center;
					margin: 0 15px;
				}
				.compare--total{
					display: block;
					margin: 20px 0 0 0;
					font: bold 32px Arial;
					color: $mainFontColor;
					text-align: center;				

					small{
						font: normal 18px Arial;
					}
				}
			}
		}

	}

	.more-details-btn{
		outline: 0;
		font: bold 18px Arial;
		background: #FFF;
		display: block;
		color: #319593;
		text-align: center;
		padding: 15px;
		border: 2px solid #f3f3f3;
		margin: 5px 8px;
	    box-shadow: inset 0 -10px 2px -10px #ccc;
	    -moz-box-shadow: inset 0 -10px 2px -10px #ccc;
	    -webkit-box-shadow: inset 0 -10px 2px -10px #ccc;
	    cursor: pointer;
	}

	.more-details-btn__bottom{
		display: none;
	}

	.more-details-btn:hover{
		box-shadow: inset 0 1px 2px -1px #ccc;
	    -moz-box-shadow: inset 0 1px 2px -1px #ccc;
	    -webkit-box-shadow: inset 0 1px 2px -1px #ccc;
	    padding: 18px 15px 12px 15px;
	}

	.case-studies{
		margin-top: 15px;
		padding: 10px;
		color: $mainFontColor;

		.case-studies--header{
			text-align: center;
			font: bold 24px Arial;
		}
		.case-studies--sub-header{
			margin-top: 20px;
			font: bold 18px Arial;
		}
	}
	
}