$tealColor: #007f7f;


$boxBgColor:#fff;
$selectedBoxBgColor:#f2f9f8;
$progressBarBgColor:#CECECE;
$progressBarColor:#404040;

//AIDAN
$mainFontColor: #404040;
$errorFontColor: #cc0000;

$btnDefaultBgColor: #cecece;
$btnHoverBgColor: #606060;
$btnBgColor: $tealColor;
$btnSelectedBgColor: $tealColor;
$btnSelectedMeansBgColor: $tealColor;
$btnBackBgColor: #ededed;